src/main/mule/sapi-travelontip.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="sapi-travelontip-main">
        <http:listener config-ref="sapi-travelontip-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="030ddc21-5621-4925-9b30-872884dbc150" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="sapi-travelontip-config" />
        <error-handler ref="global-error-handlerError_Handler">
                </error-handler>
    </flow>
    <flow name="sapi-travelontip-console">
        <http:listener config-ref="sapi-travelontip-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sapi-travelontip-config" />
        <error-handler ref="global-error-handlerError_Handler">
                 
                    </error-handler>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\routes:sapi-travelontip-config">
        <logger level="INFO" doc:name="Logger" doc:id="a3a00b13-66f4-469e-b008-4611c7b9fc17" />
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="6ad970b3-e30e-4bc6-bf25-64ade0706a3f" name="routes-httpRequsterFlow"/>
		<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    originLocation: {
      locationCode: "BEN-SG"
    },
    destinationLocation: {
      locationCode: "KLG-MY"
    }
  }, 
  {
    originLocation: {
      locationCode: "BEN-SG"
    },
    destinationLocation: {
      locationCode: "KLG-MY"
    }
  }
&#93; as Array {encoding: "UTF-8", mediaType: "application/json"}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="1047d8a8-f4d7-428e-ac9f-b1cc7ce583e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(item, index)->{
	
                      "originLocation": {
                          "locationCode": item.ORIGINLOCATION
                      },
                      "destinationLocation": {
                          "locationCode": item.DESTINATIONLOCATION
                      }
                  
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="358f5b35-6722-4748-bded-afc5772a2c5b" />
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:sapi-travelontip-config">
        <logger level="INFO" doc:name="Logger" doc:id="15d0eb0e-0a76-4cfc-9ff3-bc3f43a44e11" />
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
                <ee:set-variable variableName="transportCompany">attributes.uriParams.'transportCompany'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="dbc74caf-66e1-403b-8d6b-0d0fa7af76f7" name="schedules-httpRequesterFlow"/>
		<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    availableSeats: 20,
    departureDateTime: "2025-06-30T16:30:30",
    travelRoute: {
      originLocation: {
        locationCode: "BEN-SG"
      },
      destinationLocation: {
        locationCode: "KLG-MY"
      }
    }
  }, 
  {
    availableSeats: 30,
    departureDateTime: "2025-06-30T12:30:30",
    travelRoute: {
      originLocation: {
        locationCode: "BL-SG"
      },
      destinationLocation: {
        locationCode: "KLG-MY"
      }
    }
  }
&#93; as Array {encoding: "UTF-8", mediaType: "application/json"}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="e6816a13-cb0f-49a0-bd61-a1c36ec71aaa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(item, index)->{
	
                      "availableSeats": item.AVAILABLE_SEATS,
                      "departureDateTime": item.DEPARTURE_DATETIME,
                      "travelRoute": 
                      {
                      "originLocation": 
                        {
                        "locationCode": item.ORIGIN_LOCATION_CODE
                        },
                      "destinationLocation": 
                          {
                        "locationCode": item.DESTINATION_LOCATION_CODE
                        }
                        }
                    
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="84fc4e9f-9de3-4266-9c81-f38afdc262c3" />
    </flow>
</mule>
