src/main/mule/Implimentations/routes-httpRequster.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="routes-httpRequsterFlow" doc:id="78ca5420-05c9-4586-87c4-aaea9db0655d" >
		<logger level="INFO" doc:name="Logger" doc:id="6f0b30cc-6764-43d0-b587-49f74a531d81" message="routes-requster-flow-start" />
		<http:request method="GET" doc:name="Request" doc:id="01e0e929-6cad-4dd7-982f-1ff0f738089d" config-ref="HTTP_Request_configuration" path="${http.requester.routesPath}">
			<http:headers><![CDATA[#[output application/java
---
{
	transactionId : vars.transactionId
}]]]></http:headers>
		</http:request>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="54b72813-d08b-42e8-9804-b35373ea84d4" variableName="httprequester-routes-payload" />
		<ee:transform doc:name="Transform Message" doc:id="f71bc861-cc6a-4190-a495-83743601a954">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="06982966-c473-4ac2-a6f3-db885c17778c" message="routes-requster-flow-end" />
		<error-handler ref="global-error-handlerError_Handler">
					</error-handler>
	</flow>
</mule>
