src/main/mule/Implimentations/schedules-httpRequester.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="schedules-httpRequesterFlow" doc:id="72b28814-7e40-4cd4-adcd-5cb9e7d8c0f3" >
		<logger level="INFO" doc:name="Logger" doc:id="be32ab10-731a-4157-9cb4-238d502db874" message="schedules-requster-flow-start"/>
		<http:request method="GET" doc:name="Request" doc:id="7ca3976c-dc32-4bb0-bd3a-284f58200c01" config-ref="HTTP_Request_configuration" path="${http.requester.schedulesPath}">
			<http:headers ><![CDATA[#[output application/java
---
{
	transactionId : vars.transactionId
}]]]></http:headers>
		</http:request>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="f8daf20e-4a57-4dcd-ba8c-493a05d165e5" variableName="httprequester-schedules-payload"/>
		<ee:transform doc:name="Transform Message" doc:id="40ef72c3-50d5-426d-a88f-b4b9f9bc3a40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9d26ff59-42e8-4644-8c2b-d56998793895" message="schedules-requster-flow-end"/>
		<error-handler ref="global-error-handlerError_Handler" />
	</flow>
</mule>
